/.metadata/
/.recommenders/
/target/


# Operating System Files

*.DS_Store
Thumbs.db
*.sw?
.#*
*#
*~
*.sublime-*

# Build Artifacts

.gradle/
build/
target/
bin/
dependency-reduced-pom.xml

# Eclipse Project Files

.classpath
.project
.settings/

fit-track/src/main/java/com/revature/models/Exercise_BACKUP_2164.java
fit-track/src/main/java/com/revature/models/Exercise_BASE_2021.java
fit-track/src/main/java/com/revature/models/Exercise_BASE_2164.java
fit-track/src/main/java/com/revature/models/Exercise_LOCAL_2021.java
fit-track/src/main/java/com/revature/models/Exercise_LOCAL_2164.java
fit-track/src/main/java/com/revature/models/Exercise_REMOTE_2021.java
fit-track/src/main/java/com/revature/models/Exercise_REMOTE_2164.java
